@import 'styles/text.module.scss';
@import 'styles/color.module.scss';

.container{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 64px ; 
    position: fixed;
}

.contactButton{
    min-width: 48px;
    min-height: 48px;
    border-radius: 100%;
    border : none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    }

.contactContainer{
    font: $link;
    color: $action-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    gap: 24px;
    margin: 16px 0;
}


.socialMediaContainer{
    display: flex;
    align-items: center;
    gap: 16px;
}

.link{
    font: $link;
    text-decoration: none;
    color: $action-content;
}