@import 'styles/text.module.scss';
@import 'styles/breakpoint.module.scss';

.testimonySection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
  }

.testimonyTitle{
    font: $h2-title;
}

.testimonyContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding: 0 32px;
    @include desktop{
      flex-wrap: nowrap;
      gap: 16px;
  }
 
}

.sliderContainer{
    margin: 32px auto;
    max-width: 1010px;
    overflow: visible;
}