@import "styles/text.module.scss";

.container{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: column;
}

.logo{
    height: 60px;
    width: 60px;
}
.infoName{
    font: $info-name;
}