@import "styles/breakpoint.module.scss";
@import "styles/text.module.scss";
@import "styles/color.module.scss";

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    max-width: 1100px;
    min-height: 150px;
    background-color: $card-color;
    padding: 16px;
    border-radius: 8px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 16px;
}

.image{
    border-radius: 100%;

}

.profileInfo{
    min-width: 175px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.name{
    font: $info-name;
}

.role{
    font: $info-role;
    color: $role
}

.testimony{
    font: $footer-text;
}