@import 'styles/text.module.scss';
@import 'styles/color.module.scss';



.button{
    width: auto;
    min-height: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: none;

}

.link{
    text-decoration: none;
    font: $link;
    color: hsl(0, 0%, 15%);
    text-transform: uppercase;
}