@import 'styles/text.module.scss';
@import 'styles/color.module.scss';
@import 'styles/effect.module.scss';

.button{
    width: auto;
    min-height: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    transition: $hover-transition;
    &.circle{
        border-radius: 32px;
    }
    &.rounded{
        border-radius: 8px;
    }
    &.white{
        background-color: white;
        color: black;
        &:hover{
            background-color: rgba(255, 255, 255, 0.795);

        }
    }
    &.primary{
        background-color: $primary;
    }
    &.secondary{
        background-color: $secondary;
    }
    &.sm{
        width: auto;
    }
    &.md{
        min-width: 125px;

    }
}
