
@import 'styles/breakpoint.module.scss';
@import 'styles/text.module.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 128px;
  color: white;

}



