
@import 'styles/breakpoint.module.scss';
@import 'styles/text.module.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 64px;
  color: white;

}

.profile{
  border-radius: 100%;
  width: 175px;
  height: 175px;
}

.profileContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.message{
  font: 500 0.6rem ;
  color: white;
}

.catchPhraseContainer{
  display: flex;
  flex-direction: column;
}

.catchPhrase{
  font: 500 5rem ;
  font-size: 32px;
  text-align: center;
  background: -webkit-linear-gradient(1turn,#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.stackTitle{
  font: $h2-title;
}

.stackSection{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.stackCardContainer{
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
	}

}

.testimonySection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}