@import 'styles/breakpoint.module.scss';
@import 'styles/text.module.scss';

.stackSection{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.titleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .stackTitle{
    font: $h2-title;
  }
  
  .stackCardContainer{
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
  
    @include tablet {
      flex-wrap: wrap;
      flex-direction: row;
      }
  
  }