$action-content : hsl(0, 0%, 50%);
$profile-description: hsl(0, 0%, 100%);
$role: #8b8a8a;
$bg-color: #161616;
$shadow :  0px 10px 12px rgba(81, 106, 118, 0.08);
$primary: #00b4d8;
$secondary: hsl(222, 53%, 7%);
