$h1-title: 700 1.75rem 'Verdana';
$h2-title: 700 2.5rem 'Verdana';
$h3-title: 700 1.125rem 'Verdana';
$h4-title: 700 1rem 'Verdana';
$info-name: 500 1rem 'Verdana';
$info-role: 400 0.813rem 'Verdana';
$nav-link: 500 1.5rem 'Verdana';
$link: 400 0.9rem 'Verdana';
$h1-text: 400 1rem 'Verdana';
$h2-text: 400 0.875rem 'Verdana';
$footer-text: 400 1rem 'Verdana';
$label: 400 0.875rem 'Verdana';
