$h1-title: 700 1.75rem 'Verdana';
$h2-title: 700 2.5rem 'Verdana';
$h3-title: 700 1.125rem 'Verdana';
$h4-title: 700 1rem 'Verdana';
$info-name: 600 0.9rem 'Verdana';
$info-role: 500 0.8rem 'Verdana';
$nav-link: 500 1.5rem 'Verdana';
$link: 550 0.9rem 'Verdana';
$h1-text: 400 1rem 'Verdana';
$h2-text: 400 1rem 'Verdana';
$footer-text: 400 1rem 'Verdana';
$label: 400 0.875rem 'Verdana';
