
@import 'styles/breakpoint.module.scss';
@import 'styles/text.module.scss';

.experiencesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    width: 100%;
  }
  
.experiencesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200vw;
    position: relative;
    gap: 16px;
  }
  
  .title{
    font: $h2-title;
  }


  .lineContainer{
    position: fixed;
    width: 100%;
    height: 100%;
  }


