@import 'styles/breakpoint.module.scss';
@import 'styles/text.module.scss';

.experiencesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
  max-width: 1350px;
  padding: 16px;
}

.experiencesContainer {
  display: flex;
  padding-bottom: 32px;
  overflow-x: scroll;
  width: 100%;
  align-self: center;
}


.title {
  font: $h2-title;
}